<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta name="viewport"
	content="width = device-width, initial-scale = 1.0">
<title>STS</title>


<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-flex.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" />
<!-- Latest compiled and minified CSS -->
<link th:href="@{/css/style.css}" rel="stylesheet" />



<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/words.js}"></script>
<script th:src="@{/js/comparison.js}"></script>
<script th:src="@{/js/parsley.js}"></script>



</head>
<body
	style="background-image: url('/img/12.jpg'); background-attachment: fixed;">
	<div class="container-fluid">

		<div th:replace="fragments/header :: navbar"></div>

		<div class="container">

			<!-- 			<div class="page-header"> -->
			<!-- 				<h1 class="text-center">Site Level</h1> -->
			<!-- 			</div> -->


			<div class="w-100"
				style="margin: 50px 0; padding: 10px 10px; border-radius: 5px; border: solid thin; background-color: #f2f2f2;">
				<h4>Search Sites By Name:</h4>
				<form class="form-inline w-100" action="#"
					th:action="@{/sites/search}">
					<div class="input-group w-100">
						<input type="text" class="form-control" id="search"
							placeholder="Search..." th:name="siteName">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-primary w-100">Search</button>
						</div>
					</div>
				</form>
				<br>
			</div>

			<!-- 		############ file upload ###############	 -->
			<div class="w-100"
				style="margin: 50px 0; padding: 10px 10px; border-radius: 5px; border: solid thin; background-color: #f2f2f2;">
				<h4>Import data file:</h4>
				<form class="form-inline w-100" action="#" enctype="multipart/form-data" 
					th:action="@{/file-upload}" method="post">
					<div class="input-group w-100">
						<input id="import" class="form-control" type="file" th:name="file">
						<div class="input-group-btn">
							<button type="submit" class="btn btn-primary w-100">Import</button>
						</div>
					</div>
				</form>
				<br>
			</div>
			<!-- 		############ file upload end ############ -->

			<div>
				<!-- 				<div class="page-header"> -->
				<!-- 					<h3>Sites List</h3> -->
				<!-- 				</div> -->
				<table id="site-table" class="table table-striped">
					<thead class="thead-inverse">
						<th style="text-align: center">Site ID</th>
						<th style="text-align: center">Site Name</th>
						<th style="text-align: center">Region</th>
						<th style="text-align: center">Technology</th>
						<th style="text-align: center">Longitude</th>
						<th style="text-align: center">Latitude</th>
						<th style="text-align: center">Type</th>
						<th style="text-align: center">Last Visit</th>
						<th style="text-align: center">Safety Concerns</th>
						<th style="text-align: center">Comments</th>
					</thead>
					<tbody>
						<tr th:each="site : ${siteList}">
							<td align="center"><a href="/site/1"
								th:href="@{/site/{siteId}(siteId=${site.getSiteId()})}"
								th:text="*{site.getSiteId()}"> 1 </a></td>
							<td align="center"><a href="/site/1"
								th:href="@{/site/{siteId}(siteId=${site.getSiteId()})}"
								th:text="${site.getSiteName()}"></a></td>
							<td align="center" th:text="${site.getAddress()}">N/A</td>
							<td align="center" th:text="${site.getTechnology()}">N/A</td>
							<td align="center" th:text="${site.getLongitude()}">N/A</td>
							<td align="center" th:text="${site.getLatitude()}">N/A</td>
							<td align="center" th:text="${site.getType()}">N/A</td>
							<td align="center" th:text="${site.getLastVisit()}">N/A</td>
							<td align="center"><input type="checkbox"
								th:checked="${site.safeIssues}" readonly disabled /></td>
							<td align="center" th:text="${site.getComments()}">N/A</td>
							<!-- 							<td align="center"><a href="/sites/edit/1" -->
							<!-- 								th:href="@{/sites/edit/{siteId}(siteId=${site.getSiteId()})}"> -->
							<!-- 									Edit </a></td> -->
							<!-- 							<td align="center"><a href="/employees/delete/0" -->
							<!-- 								th:href="@{/sites/delete/{siteId}(siteId=${site.getSiteId()})}"> -->
							<!-- 									Delete </a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>
</body>
</html>