<!DOCTYPE html>
<html>
<head>
<meta name="viewport"
	content="width = device-width, initial-scale = 1.0">
<title>Insert title here</title>


<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-flex.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" />
<!-- Latest compiled and minified CSS -->
<link th:href="@{/css/style.css}" rel="stylesheet" />



<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/words.js}"></script>
<script th:src="@{/js/comparison.js}"></script>
<script th:src="@{/js/parsley.js}"></script>


<style type="text/css">
td, th {
	font-size: .8em;
	text-align: center;
}

body {
	background-color: #f2f2f2;
}

tbody {
	background-color: #fff;
}

img {
	background-color: white;
	transition:
}

#nav-elements>li {
	margin-top: 10px
}

li>a {
	font-size: medium;
	font-variant: small-caps;
	font-stretch: wider;
}

#site-form {
	border-color: black;
	border: 1px;
}
</style>


</head>
<body >
	<div class="container-fluid">

		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">

			<div class="page-header">
				<h1 class="text-center">Site Level</h1>
			</div>


			<div class="w-100">
				<h4>Search Sites By Name:</h4>
				<form class="form-inline w-100" action="#" th:action="@{/sites/search}">
					<div class="input-group w-100">
						<input type="text" class="form-control" id="search"
							placeholder="Search..." th:name="siteName"> <div
							class="input-group-btn">
							<button type="submit" class="btn btn-primary w-100">Search</button>
						</div>
					</div>
				</form>
				<br>
			</div>


			<div >
				<div class="page-header">
					<h3>Sites List</h3>
				</div>
				<table class="table table-striped">
					<thead class="thead-inverse">
						<th>Site ID</th>
						<th>Site Name</th>
						<th>Region</th>
						<th>Technology</th>
						<th>Longitude</th>
						<th>Latitude</th>
						<th>Type</th>
						<th>Last Visit</th>
						<th>Safety Issues</th>
						<th>Comments</th>
					</thead>
					<tbody>
						<tr th:each="site : ${siteList}">
							<td align="center"><a href="/site/1"
								th:href="@{/site/{siteId}(siteId=${site.getSiteId()})}"
								th:text="*{site.getSiteId()}"> 1 </a></td>
							<td align="center"><a href="/site/1"
								th:href="@{/site/{siteId}(siteId=${site.getSiteId()})}"
								th:text="${site.getSiteName()}"></a></td>
							<td align="center" th:text="${site.getAddress()}">N/A</td>
							<td align="center" th:text="${site.getTechnology()}">N/A</td>
							<td align="center" th:text="${site.getLongitude()}">N/A</td>
							<td align="center" th:text="${site.getLatitude()}">N/A</td>
							<td align="center" th:text="${site.getType()}">N/A</td>
							<td align="center" th:text="${site.getLastVisit()}">N/A</td>
							<td align="center">
								<input type="checkbox"
									th:checked="${site.safeIssues}" readonly disabled />
							</td>
							<td align="center" th:text="${site.getComments()}">N/A</td>
							<!-- 							<td align="center"><a href="/sites/edit/1" -->
							<!-- 								th:href="@{/sites/edit/{siteId}(siteId=${site.getSiteId()})}"> -->
							<!-- 									Edit </a></td> -->
							<!-- 							<td align="center"><a href="/employees/delete/0" -->
							<!-- 								th:href="@{/sites/delete/{siteId}(siteId=${site.getSiteId()})}"> -->
							<!-- 									Delete </a></td> -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>
</body>
</html>